.navbar{
    position:fixed;
    width: 100%;
    height: 100px;
    background-image: url('src/app/imagenes/devops.jpg');
    background-position: -500px -600px;
    animation: backBanner 5s backwards;

}
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px;
    text-decoration: solid;
    font-style: oblique;
    font-weight: bold;
}
@keyframes backBanner {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -500px -600px;

    }
}
