<div class="abrir-modal" *ngIf="modalService.modal">
<div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
        <ul *ngIf="cliente" class="list-group text-dark">
            <li class="list-group-item active">{{cliente.nombre}}</li>
            <li class="list-group-item">Dirección: {{ cliente.ubicacion}}</li>
            <li class="list-group-item">Email: {{ cliente.email}}</li>
            <li class="list-group-item">Telefono: {{ cliente.telefono}}</li>
            <li class="list-group-item">Estado:  <span *ngIf="cliente.eliminado; else active">Elminado</span><ng-template #active>Activo</ng-template>
            </li>     
        </ul>
                
            <div class="input-group" style="margin-top: 15px;">
                <div class="custom-file">
                  <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                </div>
                <div class="input-group-append">
                  <button (click)="subirFoto()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">Subir</button>
                </div>
              </div>
              </div>
              <div class="col-sm">
                <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
              </div>
            </div>

          
            <div class="row">
              <td><button type="button" class="btn btn-success btn-sm" style="margin-top: 20px;" [routerLink]="['/ventas/form', cliente.id]" [disabled]="cliente.eliminado==true" class="btn btn-primary">crear venta</button>
                <td><button type="button" class="btn btn-success btn-sm" style="margin-top: 20px; margin-left: 10px;" [routerLink]="['/ventas/form', cliente.id]" [disabled]="cliente.eliminado==true" class="btn btn-success">Excel</button></td>
                <td><button type="button" class="btn btn-success btn-sm" style="margin-top: 20px; margin-left: 10px;" [routerLink]="['/ventas/form', cliente.id]" [disabled]="cliente.eliminado==true" class="btn btn-danger">PDF</button></td>

            </div>
            

            <div class="row">

              <div class="alert alert-info my-4" *ngIf="cliente.ventas.length==0">
                No hay ventas asignadas para el cliente {{cliente.nombre}}
              </div>

             <table class="table table-responsive table-striped my-4"
             *ngIf="cliente.ventas.length>0">
             <thead>
              <tr>
                <th>folio</th>
                <th>descripcion</th>
                <th>fecha</th>
                <th>total</th>
                <th>Detalle</th>
                <th>Eliminar</th>

              </tr>
             </thead>
             <tbody>
              <tr *ngFor="let venta of cliente.ventas">
                <td>{{venta.id}}</td>
                <td>{{venta.descripcion}}</td>
                <td>{{venta.createAt}}</td>
                <td>{{venta.total}}</td>
                 <td><button class="btn btn-primary btn-sm" type="button"
                  [routerLink]="['/ventas', venta.id]">ver</button></td>
                  <td><button class="btn btn-danger btn-sm" type="button"[disabled]="cliente.eliminado==true" (click)="delete(venta) ">eliminar</button></td>
              </tr>
             </tbody>
            </table>
            </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</div>