
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

          <h2>Bienvenido</h2>
          <form>

  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Ingrese un nombre de usuario*" />
              <label class="form-label" for="form3Example3">Nombre de usuario</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Ingrese una contraseña*" />
              <label class="form-label" for="form3Example4">Contraseña</label>
            </div>
  
  
            <div class = "container text-center">
              <button mat-raised-button color="primary" routerLink="/inicio">Iniciar sesion</button>
              <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>