<div class="card border-secondary mb-3">
    <div class="card-header">Retiros de excedente</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Lista de Retiros excedente:</h5>
      <p>Transportes Paredes Ltda.</p>
  
      <div class="table-hover table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Fecha</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let retiro of retiros">
              <td>{{ retiro.id }}</td>
              <td>{{ retiro.createAt }}</td>
              <td>{{ retiro.descripcion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    </div>
    
    
  