.tarjeta{
    height: 3000px;
    width: 100%;
    border-radius: 30px;
    font-size: large;
    background-image: url('src/app/imagenes/fon.jpg');
    background-size: 2000px;

    

}



.titulo{
    font-style: oblique;
    text-align: center;
}

.tarjeta > h5{
    font-size: 90px;
}

.card-text{
    font-weight: bold;
    font-style: oblique;
    font-size: large;
}

