

<section id="content" class="col-12">
  <div class="row">
<section id="barra" class="col-3 border d-none d-sm-none d-md-block">
<h2></h2>
<div class="card" class="bg-light d-none d-sm-none d-md-block">
  <div class="card-header" >
    ¡Informacion importante!
  </div>
  <ul class="list-group list-group-flush" style="margin-top: 10px; margin-left: 5px; padding-left: 5px;">
    <p>Mas de 1.000 empresas de reciclaje han potenciado sus ventas despues de la pandemia</p>
  
  </ul>
</div>
</section>

<aside class="col col-12 col-sm-12 col-md-9">
  <div class="titulo">
  <h1>¡Bienvenido a mi portfolio!</h1>
  
<p>Transportes Paredes Ltda. está a dispocision de la comunidad implementando practicas y procesos de reciclaje</p>
</div>


<div class="tarjeta tarjeta text-white bg-success mb-3" style="text-align: center;">
  <div class="card-header">Objetivo</div>
  <div class="card-body">
    <h5 class="card-title">Actuar</h5>
    <h3 class="card-text">Son muchas y podría decirse que innumerables las ventajas de reciclar los metales, pues no solo se trata del aprovechamiento de este elemento, sino también de los beneficios que genera en el medio ambiente, al igual que los beneficios económicos y sociales que genera.<br>La importancia de reciclar metales radica, sobre todo, en la cantidad de ahorro de energía y agua que implicaría trabajarlos desde su origen. Así, por ejemplo, la producción de aluminio a partir de la chatarra supone un 95% de ahorro de energía y en el proceso de reciclado el metal conserva todas sus propiedades y características.</h3>
 
  </div>

</div>
</aside>
</div>



</section>

