
<section class="contenido-section">
  <div class="container">
    <h2 class="contenido-title">Matias Salazar Sanchez</h2>
    
    <p class="contenido-text">
      
      Hola!! Soy un profesional del area DevOps, mi enfoque se centra en optimizar la colaboraciòn entre equipos, automatizar procesos y garantizar la entrega continua de software de alta calidad.
     
    </p>

  </div>

  <div class="imagen-section">
    <img src="/assets/imag-personal.jpeg" alt="Matias Salazar">
  </div>


    <div class="botones-section">
      <button type="button" class="btn btn-outline-primary">GitHub</button>
      <button type="button" class="btn btn-outline-primary">Linkedin</button>
      <button type="button" class="btn btn-primary btn-lg">Descargar CV</button>
    
    </div>

</section>



<section class="outer-box">
  <div class="inner-box">
    <h2 class="title-project">Proyectos</h2>

    <p>Explora mi blog donde comparto conocimientos sobre DevOps, mejores prácticas y últimas tendencias tecnológicas, así también distintos laboratorios y proyectos.</p>

    <div class="botones-project">
      <button type="button" class="btn btn-primary">Ver plantillas</button>    </div>
  </div>
</section>


<section class="cajas-section">
  <div class="container">
    <h1 class="skills">Tecnologias</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Linux</h3>
         
          <fa-icon [icon]="icon5" class="style-icon5"></fa-icon>

        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Git</h3>
         
          <fa-icon [icon]="icon4" class="style-icon4"></fa-icon>

        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Jenkins</h3>
          

          <fa-icon [icon]="icon" class="style-icon"></fa-icon>
        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">DevSecOps</h3>
          
          <fa-icon [icon]="icon6" class="style-icon6"></fa-icon>
          </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Java & Spring</h3>
          
          <fa-icon [icon]="icon3" class="style-icon3"></fa-icon>

        </div>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <h3 class="caja-title bold-text">Angular</h3>
         
          <fa-icon [icon]="icon2" class="style-icon2"></fa-icon>
        </div>
        
      </div>
    </div>
  
  </div>
</section>


<section class="section2">
  <div class="sidebar">
    <p>Experiencia</p>
  </div>
  
  <div class="content">
  <p>Estudios</p>
  </div>
  </section>

<section class="contenido-section2">
  <div class="container">
    <h2 class="contenido-title">Certificaciones</h2>
    <p class="contenido-text">
     Estas son mis certiicaciones
    </p>
  </div>
</section>



